@import 'tailwindcss';

@plugin "daisyui" {
  themes: light --default;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
